In [1]:
# importing and opening up row display 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 999

In [5]:
# creating dataframes from May 2020 data 
calendar_520 = pd.read_csv("/Users/TheUnit/Desktop/Marilyn_Capstone2/DATA/5.24.20.calendar.csv")
listings1_520 = pd.read_csv("~/Desktop/Marilyn_Capstone2/DATA/5.24.20.listings-2.csv")
listings2_520 = pd.read_csv("~/Desktop/Marilyn_Capstone2/DATA/5.24.20.listings.csv")
neighborhoods_520 = pd.read_csv("~/Desktop/Marilyn_Capstone2/DATA/5.24.20.neighbourhoods.csv")
reviews1_520 = pd.read_csv("~/Desktop/Marilyn_Capstone2/DATA/5.24.20.reviews-2.csv")
reviews2_520 = pd.read_csv("~/Desktop/Marilyn_Capstone2/DATA/5.24.20.reviews.csv")

/Users/TheUnit/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
# exploring May 2020 data 
calendar_520

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,246057,2020-05-26,t,"$1,335.00","$1,335.00",28.0,30.0
1,22787,2020-05-26,t,"$2,331.00","$2,331.00",28.0,365.0
2,22787,2020-05-27,t,"$2,331.00","$2,331.00",28.0,365.0
3,22787,2020-05-28,t,"$2,331.00","$2,331.00",28.0,365.0
4,22787,2020-05-29,t,"$2,331.00","$2,331.00",28.0,365.0
...,...,...,...,...,...,...,...
7906741,43527513,2021-05-21,t,"$55,646.00","$55,646.00",5.0,1125.0
7906742,43527513,2021-05-22,t,"$55,671.00","$55,671.00",5.0,1125.0
7906743,43527513,2021-05-23,t,"$55,646.00","$55,646.00",5.0,1125.0
7906744,43527513,2021-05-24,t,"$55,646.00","$55,646.00",5.0,1125.0
7906745,43527513,2021-05-25,t,"$55,646.00","$55,646.00",5.0,1125.0

In [11]:
calendar_520.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7906746 entries, 0 to 7906745
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 422.3+ MB

In [10]:
calendar_520.describe()

         listing_id  minimum_nights  maximum_nights
count  7.906746e+06    7.906651e+06    7.906651e+06
mean   2.811154e+07    4.412605e+00    8.426371e+02
std    1.118411e+07    2.130088e+01    6.725190e+02
min    2.278700e+04    1.000000e+00    1.000000e+00
25%    1.981058e+07    1.000000e+00    3.650000e+02
50%    2.990960e+07    2.000000e+00    1.125000e+03
75%    3.812225e+07    3.000000e+00    1.125000e+03
max    4.352751e+07    1.122000e+03    5.000000e+04

In [7]:
listings1_520

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,22787,https://www.airbnb.com/rooms/22787,20200524235857,2020-05-26,"Sunny suite w/ queen size bed, inside boutique...",This suite inside El Patio 77 - an eco-friendl...,El Patio 77 is the first eco-friendly bed and ...,This suite inside El Patio 77 - an eco-friendl...,none,Up-and-coming San Rafael neighborhood combines...,...,t,f,flexible,f,f,8,0,7,1,0.47
1,35797,https://www.airbnb.com/rooms/35797,20200524235857,2020-05-28,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...",please go to (URL HIDDEN) and see the place a...,"Dentro de Villa un estudio de arte con futon, ...",none,"Centro comercial Santa Fe, parque interlomas y...",...,f,f,flexible,f,f,2,1,1,0,NaN
2,56074,https://www.airbnb.com/rooms/56074,20200524235857,2020-06-05,Great space in historical San Rafael,This great apartment is located in one of the ...,"Very nice furnished apartment, 7th floor, nice...",This great apartment is located in one of the ...,none,Very traditional neighborhood with all service...,...,t,f,moderate,f,f,2,2,0,0,1.93
3,58955,https://www.airbnb.com/rooms/58955,20200524235857,2020-05-25,Entire beautiful duplex in la Roma,"This beautiful apartment is centrally located,...","Amazing 2 floors apartment in La Roma, the bes...","This beautiful apartment is centrally located,...",none,La Roma Norte is a beautiful bohemian and arts...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.41
4,61792,https://www.airbnb.com/rooms/61792,20200524235857,2020-05-25,Spacious Clean Quiet room (own bath) in la Con...,"Located in La Condesa, one of the best neighbo...","i am a graphic designer, i like simple things ...","Located in La Condesa, one of the best neighbo...",none,You are going to be in one of the nicest neigh...,...,f,f,moderate,f,f,2,0,2,0,1.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21657,43517931,https://www.airbnb.com/rooms/43517931,20200524235857,2020-05-25,a media Cuadra de Reforma 222,"Habitación amplia e iluminada , con baño priva...","Supermercado a dos cuadras, parques y jardines...","Habitación amplia e iluminada , con baño priva...",none,NaN,...,t,f,flexible,f,f,1,0,1,0,NaN
21658,43520164,https://www.airbnb.com/rooms/43520164,20200524235857,2020-06-05,Depa en ajusco,NaN,NaN,NaN,none,NaN,...,f,f,flexible,f,f,1,1,0,0,NaN
21659,43523985,https://www.airbnb.com/rooms/43523985,20200524235857,2020-05-27,"Un acogedor lugar, lleno de luz y plantas.",Espacio en la Colonia Del Valle. De un estilo ...,Muy cerca del Metro división del norte línea v...,Espacio en la Colonia Del Valle. De un estilo ...,none,Un lugar bastante seguro. A una calle está el ...,...,f,f,flexible,f,f,1,0,1,0,NaN
21660,43527334,https://www.airbnb.com/rooms/43527334,20200524235857,2020-05-27,Estrena hermoso departamento,Estrena departamento con ubicación privilegiad...,Departamento completo de 2 cuartos y 2 baños.,Estrena departamento con ubicación privilegiad...,none,NaN,...,t,f,flexible,f,f,1,1,0,0,NaN
21661,43527513,https://www.airbnb.com/rooms/43527513,20200524235857,2020-05-26,"3 Bedroom Apartment in Centro, CDMX [Mexico City]","Nice Illuminated 3 Beds, 2 Baths near Metros, ...",NaN,"Nice Illuminated 3 Beds, 2 Baths near Metros, ...",none,NaN,...,f,f,flexible,f,f,1,1,0,0,NaN

In [14]:
listings1_520.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21662 entries, 0 to 21661
Columns: 106 entries, id to reviews_per_month
dtypes: float64(20), int64(23), object(63)
memory usage: 17.5+ MB

In [16]:
listings1_520.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

In [8]:
listings2_520

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,22787,"Sunny suite w/ queen size bed, inside boutique...",87973,Diego,NaN,Cuauhtémoc,19.44076,-99.16324,Private room,2331,1,57,2019-05-27,0.47,8,365
1,35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.38399,-99.27335,Entire home/apt,4457,1,0,NaN,NaN,2,363
2,56074,Great space in historical San Rafael,265650,Maris,NaN,Cuauhtémoc,19.43937,-99.15614,Entire home/apt,809,4,60,2019-07-24,1.93,2,1
3,58955,Entire beautiful duplex in la Roma,282620,Nat,NaN,Cuauhtémoc,19.42292,-99.15775,Entire home/apt,1932,3,42,2020-01-31,0.41,1,35
4,61792,Spacious Clean Quiet room (own bath) in la Con...,299558,Roberto,NaN,Cuauhtémoc,19.41259,-99.17959,Private room,1364,2,52,2019-11-03,1.66,2,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21657,43517931,a media Cuadra de Reforma 222,78475678,Ramiro,NaN,Cuauhtémoc,19.43110,-99.16093,Private room,432,4,0,NaN,NaN,1,365
21658,43520164,Depa en ajusco,168938330,Alonso,NaN,Tlalpan,19.28033,-99.21582,Entire home/apt,1705,1,0,NaN,NaN,1,179
21659,43523985,"Un acogedor lugar, lleno de luz y plantas.",37100931,Juan,NaN,Benito Juárez,19.37843,-99.16049,Private room,736,1,0,NaN,NaN,1,360
21660,43527334,Estrena hermoso departamento,71849927,Monica,NaN,Álvaro Obregón,19.38477,-99.19640,Entire home/apt,669,1,0,NaN,NaN,1,161
21661,43527513,"3 Bedroom Apartment in Centro, CDMX [Mexico City]",346685643,Getgopi,NaN,Cuauhtémoc,19.43575,-99.13223,Entire home/apt,55602,5,0,NaN,NaN,1,338

In [17]:
listings2_520.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21662 entries, 0 to 21661
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              21662 non-null  int64
 1   name                            21654 non-null  object
 2   host_id                         21662 non-null  int64
 3   host_name                       21662 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   21662 non-null  object
 6   latitude                        21662 non-null  float64
 7   longitude                       21662 non-null  float64
 8   room_type                       21662 non-null  object
 9   price                           21662 non-null  int64
 10  minimum_nights                  21662 non-null  int64
 11  number_of_reviews               21662 non-null  int64
 12  last_review                     16722 non-null  object
 13  reviews_per_month               16722 non-null  float64
 14  calculated_host_listings_count  21662 non-null  int64
 15  availability_365                21662 non-null  int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.6+ MB

In [18]:
listings2_520.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [23]:
# dropping a few columns from listings2_520
updatedlistings2 =listings2_520.drop(['id', 'name', 'host_id', 'host_name','neighbourhood_group','latitude', 'longitude', 'calculated_host_listings_count',
       'availability_365'], axis=1)
updatedlistings2

,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month
0,Cuauhtémoc,Private room,2331,1,57,2019-05-27,0.47
1,Cuajimalpa de Morelos,Entire home/apt,4457,1,0,NaN,NaN
2,Cuauhtémoc,Entire home/apt,809,4,60,2019-07-24,1.93
3,Cuauhtémoc,Entire home/apt,1932,3,42,2020-01-31,0.41
4,Cuauhtémoc,Private room,1364,2,52,2019-11-03,1.66
...,...,...,...,...,...,...,...
21657,Cuauhtémoc,Private room,432,4,0,NaN,NaN
21658,Tlalpan,Entire home/apt,1705,1,0,NaN,NaN
21659,Benito Juárez,Private room,736,1,0,NaN,NaN
21660,Álvaro Obregón,Entire home/apt,669,1,0,NaN,NaN
21661,Cuauhtémoc,Entire home/apt,55602,5,0,NaN,NaN

In [24]:
neighborhoodprice = updatedlistings2.groupby('neighbourhood')
neighborhoodprice = neighborhoodprice.mean()
neighborhoodprice = neighborhoodprice.sort_values(['price'], ascending=False)
neighborhoodprice

,price,minimum_nights,number_of_reviews,reviews_per_month
neighbourhood,,,,
Xochimilco,2396.043165,3.597122,5.100719,0.654444
Iztapalapa,1862.145631,1.841424,6.495146,0.922909
Miguel Hidalgo,1762.559791,4.719523,23.965377,1.388397
Cuajimalpa de Morelos,1648.633047,5.118026,9.871245,0.767901
Cuauhtémoc,1368.058601,3.333254,34.086303,1.740489
Álvaro Obregón,1100.286413,5.246334,11.239492,0.813520
Coyoacán,932.019839,3.620912,17.950670,1.141606
Benito Juárez,874.430519,5.619089,17.947491,1.205614
Tlalpan,781.196903,7.030973,9.778761,0.779064
Gustavo A. Madero,779.120548,2.136986,15.860274,1.423705
La Magdalena Contreras,700.575000,3.868750,9.256250,0.638468
Venustiano Carranza,696.154018,1.718750,38.968750,2.615149
Azcapotzalco,680.996139,4.034749,11.111969,1.117987
Tláhuac,610.825000,1.775000,4.625000,0.540500
Iztacalco,605.770149,2.355224,18.943284,1.446732
Milpa Alta,586.388889,1.888889,1.166667,0.218750